#footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    gap: 1rem;
    background-color: #00092a;
    padding: 4rem 2rem;
    letter-spacing: 0.5px;
}

#footer-container > div {
    width: 200px;
}

#footer-container div:nth-child(1) {
    width: 30%;
}

.footer-logo {
    margin-bottom: 0.2rem;
}

#footer-container h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
}

#footer-container p {
    margin-bottom: 0.7rem;
    font-weight: 400;
}

#footer h5 {
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
    padding: 1rem 0;
}

@media (max-width: 1000px) {
    #footer-container {
        flex-direction: column;
    }

    #footer-container div:nth-child(1) {
        width: 100%;
    }
}
